{% from "govuk/components/button/macro.njk" import govukButton %}
{% import "./macro.njk" as closedAction %}

{{ closedAction.renderWebView(response) }}
{{ closedAction.renderPrintView(application, response, applicationType, todayDate, appLoggedDate, prisonerName) }}

<div class="govuk-!-display-none-print">
  {{ govukButton({
    text: "Print reply",
    type: "button",
    attributes: {
      id: "print-button"
    }
  }) }}
</div>
