{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/character-count/macro.njk" import govukCharacterCount -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/radios/macro.njk" import govukRadios -%}
{%- from "govuk/components/back-link/macro.njk" import govukBackLink -%}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block beforeContent %}
  {% include "../partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "/applications/" + application.requestedBy.username + "/" + application.id,
      classes: "govuk-!-display-none-print govuk-!-margin-top-4"
    }) }}

    {% if errors %}
      {% set errorList = [] %}

      {% if errors.selectAction %}
        {% set errorList = errorList.concat([{ text: errors.selectAction.text, href: "#selectAction" }]) %}
      {% endif %}

      {% if errors.actionReplyReason %}
        {% set errorList = errorList.concat([{ text: errors.actionReplyReason.text, href: "#actionReplyReason" }]) %}
      {% endif %}

      {% if errors.rejectedReason %}
        {% set errorList = errorList.concat([{ text: errors.rejectedReason.text, href: "#rejectedReason" }]) %}
      {% endif %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <span class="govuk-caption-xl govuk-!-display-none-print">{{ applicationType.name }}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-display-none-print govuk-!-margin-bottom-4">Mark as closed</h1>
    
    {{ govukTag(application.status | statusTag) }}

    <p class="govuk-body govuk-!-margin-top-4">You can not forward or change this application when it has been closed.</p>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "./action-form.njk" %}
      </div>
    </div>
  </div>
{% endblock %}
