<h2 class="govuk-heading-m">Action this application</h2>
<p class="govuk-body">This action and its reason might be seen by the prisoner.</p>

<form method="POST" id="action-and-reply-form">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  {% set rejectedReasonItems = [
    {
      value: "Prisoner used the wrong app",
      text: "Prisoner used the wrong app",
      checked: selectedRejectedReason == "Prisoner used the wrong app"
    },
    {
      value: "Prisoner has already sent this app",
      text: "Prisoner has already sent this app",
      checked: selectedRejectedReason == "Prisoner has already sent this app"
    },
    {
      value: "Prisoner sent an abusive app",
      text: "Prisoner sent an abusive app",
      checked: selectedRejectedReason == "Prisoner sent an abusive app"
    }
  ] %}

  {% set rejectedReasonHtml %}
    {{ govukRadios({
      idPrefix: "rejectedReason",
      name: "rejectedReason",
      items: rejectedReasonItems,
      errorMessage: errors.rejectedReason,
      fieldset: {
        legend: {
          text: "Reason for rejection",
          classes: "govuk-fieldset__legend--s",
          isPageHeading: false
        }
      }
    }) }}
  {% endset %}

  {{ govukRadios({
    name: "decision",
    value: selectedAction,
    fieldset: {
      legend: {
        text: "Choose an action to close this application",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [
      {
        value: "APPROVED",
        text: "Approved",
        checked: selectedAction == "APPROVED"
      },
      {
        value: "DECLINED",
        text: "Declined",
        checked: selectedAction == "DECLINED"
      },
      {
        value: "REJECTED",
        text: "Rejected",
        checked: selectedAction == "REJECTED",
        hint: {
          text: "Use this for wrong, duplicate and abusive apps"
        },
        conditional: {
          html: rejectedReasonHtml
        }
      }
    ],
    errorMessage: errors.selectAction
  }) }}

  {% set characterCountConfig = {
    name: "reason",
    id: "action-and-reply-reason",
    maxlength: 1000,
    threshold: 75,
    value: textareaValue or "",
    label: {
      text: "Reason",
      classes: "govuk-label--s",
      isPageHeading: false
    }
  } %}

  {% if errors.actionReplyReason and (selectedAction == "DECLINED") %}
    {% set characterCountConfig = {
      name: "reason",
      id: "action-and-reply-reason",
      maxlength: 1000,
      threshold: 75,
      value: textareaValue or "",
      label: {
        text: "Reason",
        classes: "govuk-label--s",
        isPageHeading: false
      },
      errorMessage: { text: errors.actionReplyReason.text }
    } %}
  {% endif %}

  <div id="reason-container" {% if selectedAction == "REJECTED" %}style="display: none;"{% endif %}>
    {{ govukCharacterCount(characterCountConfig) }}
  </div>

  {{ govukButton({
    text: "Save",
    classes: "govuk-button--primary"
  }) }}
</form>
