{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet" />
{% endblock %}

{% for js in feComponents.jsIncludes %}
    <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
{% endfor %}

{% for css in feComponents.cssIncludes %}
    <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
{% endfor %}

{% block pageTitle %}
  {{ pageTitle | default(applicationName) }}
{% endblock %}

{% block header %}
  {{ feComponents.header | safe }}
{% endblock %}

{% block main %}
  <main class="govuk-main-wrapper" id="main-content" role="main">
    {% block beforeContent %}{% endblock %}
    {% block content %}{% endblock %}
  </main>
{% endblock %}

{% block footer %}
    {{ feComponents.footer | safe }}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/app.js' | assetMap }}"></script>
{% endblock %}
