{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% if isUpdated %}
  {% set panelTitle = "Application updated" %}
{% else %}
  {% set panelTitle = "Application submitted" %}
{% endif %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukPanel({
          titleText: panelTitle,
          text: title
        }) }}
      </div>
    </div>
   
    <p class="govuk-body-l">{{ application.assignedGroup.name }} now has this application.</p>
    
    <p class="govuk-body">You can now log:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/log/application-type?isLoggingForSamePrisoner=true"> another application for {{ prisonerName }}</a>
      </li>
      <li>
        <a href="/log/prisoner-details">a new application</a>
      </li>
    </ul>

    <p class="govuk-body">Or you can view:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/applications/{{ application.requestedBy.username }}/{{ application.id }}">this application</a>
      </li>
      <li>
        <a href="/applications">all applications</a>
      </li>
    </ul>
  </div>
{% endblock %}
