REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false

# Run: kubectl get secrets -n hmpps-managing-prisoner-apps-dev hmpps-managing-prisoner-apps-staff-ui -o json | jq '.data | map_values(@base64d)'
#
# Credentials for allowing user access
HMPPS_AUTH_URL=https://sign-in-dev.hmpps.service.justice.gov.uk/auth
AUTH_CODE_CLIENT_ID=hmpps-typescript-template
AUTH_CODE_CLIENT_SECRET=clientsecret

# Credentials for API calls
CLIENT_CREDS_CLIENT_ID=hmpps-typescript-template-system
CLIENT_CREDS_CLIENT_SECRET=clientsecret

# Playwright DEV sign-in credentials (used for #username and #password fields)
PW_DEV_USERNAME=
PW_DEV_PASSWORD=

# Check heml_deploy/values-dev.yml for up to date values here
#
TOKEN_VERIFICATION_API_URL=https://token-verification-api-dev.prison.service.justice.gov.uk
COMPONENT_API_URL=https://frontend-components-dev.hmpps.service.justice.gov.uk
DPS_URL=https://dps-dev.prison.service.justice.gov.uk/
DPS_PRISONER_URL=https://prisoner-dev.digital.prison.service.justice.gov.uk/
HMPPS_MANAGE_USERS_API_URL=https://manage-users-api-dev.hmpps.service.justice.gov.uk
MANAGING_PRISONER_APPS_API_URL=https://managing-prisoner-apps-api-dev.hmpps.service.justice.gov.uk
PRISON_API_URL=https://prison-api-dev.prison.service.justice.gov.uk
PERSONAL_RELATIONSHIPS_API_URL=https://personal-relationships-api-dev.hmpps.service.justice.gov.uk
DOCUMENT_API_URL=https://document-api-dev.hmpps.service.justice.gov.uk
OS_PLACES_API_URL=https://api.os.uk/search/places/v1
