{{ appTypeSummaryListHeader("New social contact to add", application.requestedBy.username, application.id, isClosed) }}

{% set rows = [] %}

{% set _ = rows.push({
  key: { text: "First name" },
  value: { text: application.requests[0].firstName }
}) %}

{% set _ = rows.push({
  key: { text: "Last name" },
  value: { text: application.requests[0].lastName }
}) %}

{% if application.requests[0].dateOfBirthOrAge == "donotknow" %}
  {% set _ = rows.push({
    key: { text: "Age or date of birth" },
    value: { text: "‘I do not know their age or date of birth" }
  }) %}
{% elseif application.requests[0].dateOfBirthOrAge == "age" %}
  {% set _ = rows.push({
    key: { text: "Age or date of birth" },
    value: { text: application.requests[0].age }
  }) %}
{% else %}
  {% set dob = application.requests[0].dob %}
  {% set formattedDob = dob.day + '/' + dob.month + '/' + dob.year %}
  {% set _ = rows.push({
    key: { text: "Age or date of birth" },
    value: { text: formattedDob }
  }) %}
{% endif %}

{% set _ = rows.push({
  key: { text: "Relation to prisoner" },
  value: { text: application.requests[0].relationship }
}) %}

{% set _ = rows.push({
  key: { text: "Address line 1" },
  value: { text: application.requests[0].addressLine1 }
}) %}

{% set _ = rows.push({
  key: { text: "Address line 2" },
  value: { text: application.requests[0].addressLine2 }
}) %}

{% set _ = rows.push({
  key: { text: "Town or city" },
  value: { text: application.requests[0].townOrCity }
}) %}

{% set _ = rows.push({
  key: { text: "Postcode" },
  value: { text: application.requests[0].postcode }
}) %}

{% set _ = rows.push({
  key: { text: "Country" },
  value: { text: application.requests[0].country }
}) %}

{% set _ = rows.push({
  key: { text: "Telephone number 1" },
  value: { text: application.requests[0].telephone1 }
}) %}

{% set _ = rows.push({
  key: { text: "Telephone number 2" },
  value: { text: application.requests[0].telephone2 }
}) %}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: rows
}) }}
