{% macro appTypeSummaryListHeader(title, username, appId, isClosed) %}
  <div class="govuk-summary-list--header">
    <h2 class="govuk-heading-m">{{ title }}</h2>

    {% if not isClosed %}
      <a href="/applications/{{ username }}/{{ appId }}/change" class="govuk-body">
        Change <span class="govuk-visually-hidden">reason</span>
      </a>
    {% endif %}
  </div>
{% endmacro %}
