{% if documents and documents.length > 0 %}
  {{ appTypeSummaryListHeader("Application details", application.requestedBy.username, application.id, isClosed, hideChangeButton=true) }}
{% else %}
  {{ appTypeSummaryListHeader("Application details", application.requestedBy.username, application.id, isClosed) }}
{% endif %}

{% if documents and documents.length > 0 %}
  {% set imageRows = [] %}

  {% for doc in documents %}
  {% set imageLabel = "Image " + loop.index %}
    {% if loop.index > 1 %}
      {% set imageLabel = imageLabel + " (optional)" %}  
    {% endif %}
    {% set imageRows = imageRows.concat([{
      key: { text: imageLabel },
      value: { 
        html: '<a href="/applications/' + application.requestedBy.username + '/' + application.id + '/documents/' + doc.documentUuid + '" alt="' + doc.filename + '" target="_blank" rel="noopener noreferrer">
                <img 
                  src="/applications/' + application.requestedBy.username + '/' + application.id + '/documents/' + doc.documentUuid + '" 
                  alt="Photo ' + loop.index + '"
                  class="thumbnail-img" 
                />
              </a>'
      }
    }]) %}
  {% endfor %}

  {% set allRows = imageRows.concat([{
    key: { text: "Additional details" },
    value: { text: application.requests[0].details or '' }
  }]) %}
  {{ govukSummaryList({ rows: allRows }) }}

{% else %}

  {{ govukSummaryList({
    rows: [
      { 
        key: { text: "Details" }, 
        value: { text: application.requests[0].details }  
      }
    ]
  }) }}
{% endif %}
