{% from "govuk/components/button/macro.njk" import govukButton %}

<h2 class="govuk-heading-m">Application details</h2>

{% set rows = [] %}

{% set _ = rows.push({
  key: { text: "Status" },
  value: { text: (application.status | statusTag).text }
}) %}

{% set _ = rows.push({
  key: { text: "Department" },
  value: { text: application.assignedGroup.name }

}) %}

{% set _ = rows.push({
  key: { text: "Application type" },
  value: { text: title }
}) %}

{% set _ = rows.push({
  key: { text: "Date" },
  value: { text: application.createdDate }
}) %}

{{ govukSummaryList({
  rows: rows
}) }}

{% if isClosed %}
  {{ govukButton({
    text: "Print reply",
    href: "/applications/" + application.requestedBy.username + "/" + application.id + "/print-reply",
    classes: "govuk-!-margin-bottom-4"
  }) }}
{% endif %}
