{% macro appTypeSummaryList(title, username, appId) %}
  <div class="govuk-summary-list--header">
    <h2 class="govuk-heading-m">{{ title }}</h2>
    <a href="/applications/{{ username }}/{{ appId }}/change" class="govuk-body">
      Change <span class="govuk-visually-hidden">reason</span>
    </a>
  </div>
{% endmacro %}
