{{ appTypeSummaryListHeader("VOs to swap", application.requestedBy.username, application.id, isClosed) }}

{{ govukSummaryList({
  rows: [
    { 
      key: { text: "Details" }, 
      value: { text: application.requests[0].details }  
    }
  ]
}) }}
