{{ appTypeSummaryListHeader("VOs to swap", application.requestedBy.username, application.id, application.status) }}

{{ govukSummaryList({
  rows: [
    { 
      key: { text: "Details" }, 
      value: { text: application.requests[0].details }  
    }
  ]
}) }}
