<div class="govuk-tabs__panel {{ 'govuk-tabs__panel--selected' if status == 'CLOSED' else '' }}" id="closed-applications">
  <h2 class="govuk-heading-m">Closed applications</h2>
  
  <div class="app-results-table">
    {% if apps.length %}
      {{ govukTable({
        head: [
          { text: "Date", attributes: { "aria-sort": "descending" } },
          { text: "Application type" },
          { text: "From" },
          { text: "Department" },
          { text: "Decision" },
          { text: "" }
        ],
        rows: apps,
        attributes: { "data-qa": "app-results-table", "data-module": "moj-sortable-table" }
      }) }}
    {% else %}
      <p class="govuk-body">No applications found</p>
    {% endif %}
  </div>
  
  {% if pagination.totalPages > 1 %}
    {{ govukPagination( pagination | toPagination( query )) }}
  {% endif %}
</div>
