{%- from "../../../../components/accessibleAutocomplete/macro.njk" import accessibleAutocomplete -%}

<form novalidate>
  {%- set filterOptionsHtml %}
    {{ govukCheckboxes({
      idPrefix: "status",
      name: "status",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: { text: "Status", classes: "govuk-fieldset__legend--s" }
      },
      items: [
        {
          value: "PENDING",
          text: "Pending",
          checked: filters.selectedStatusValues and ("PENDING" in filters.selectedStatusValues)
        },
        {
          value: "CLOSED",
          text: "Closed",
          checked: filters.selectedStatusValues and ("CLOSED" in filters.selectedStatusValues),
          conditional: {
            html: govukCheckboxes({
              idPrefix: "status-closed",
              name: "status",
              classes: "govuk-checkboxes--small",
              items: [
                {
                  value: "APPROVED",
                  html: 'Approved <span class="govuk-visually-hidden">Decision</span>',
                  checked: filters.selectedStatusValues and ("APPROVED" in filters.selectedStatusValues)
                },
                {
                  value: "DECLINED",
                  html: 'Declined <span class="govuk-visually-hidden">Decision</span>',
                  checked: filters.selectedStatusValues and ("DECLINED" in filters.selectedStatusValues)
                }
              ]
            })
          }
        }
      ]
    }) }}

    {{ accessibleAutocomplete({
      label: "Prisoner name or number",
      nonce: cspNonce,
      selectedLabel: filters.selectedPrisonerLabel,
      selectedValue: filters.selectedPrisonerId
    }) }}

    {{ govukCheckboxes({
      idPrefix: "priority",
      name: "priority",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Priority",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: filters.priority
    }) }}

    {{ govukCheckboxes({
      idPrefix: "group",
      name: "group",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Department",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: filters.groups
    }) }}

    {{ govukCheckboxes({
      idPrefix: "type",
      name: "type",
      classes: "govuk-checkboxes--small",
      fieldset: {
        legend: {
          text: "Application type",
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: filters.appTypes
    }) }}
  {% endset -%}

  {% set categories = [] %}

  {% if filters.selectedFilters.status | length %}
    {% set categories = categories.concat([{
      heading: { text: "Status" },
      items: filters.selectedFilters.status
    }]) %}
  {% endif %}

  {% if filters.selectedFilters.priority | length %}
    {% set categories = categories.concat([{
      heading: { text: "Priority" },
      items: filters.selectedFilters.priority
    }]) %}
  {% endif %}
  
  {% if filters.selectedFilters.groups | length %}
    {% set categories = categories.concat([{
      heading: { text: "Department" },
      items: filters.selectedFilters.groups
    }]) %}
  {% endif %}

  {% if filters.selectedFilters.types | length %}
    {% set categories = categories.concat([{
      heading: { text: "Application type" },
      items: filters.selectedFilters.types
    }]) %}
  {% endif %}

  {% if filters.selectedPrisonerLabel or categories.length %}
    {{ mojFilter({
      heading: { text: "Filter" },
      submit: {
        attributes: { "data-test-id": "submit-button" }
      },
      optionsHtml: filterOptionsHtml,
      selectedFilters: {
        heading: { text: "Selected filters" },
        clearLink: { text: "Clear filters", href: "/applications" },
        categories: categories
      }
    }) }}
  {% else %}
    {{ mojFilter({
      heading: { text: "Filter" },
      submit: {
        attributes: { "data-test-id": "submit-button" }
      },
      optionsHtml: filterOptionsHtml
    }) }}
  {% endif %}
</form>
