{% from "../../../../components/pagination/macro.njk" import pagination as paginationMacro %}

<div class="govuk-tabs__panel {{ 'govuk-tabs__panel--selected' if status == 'PENDING' else '' }}" id="pending-applications">
  <h2 class="govuk-heading-m">Pending applications</h2>
  
  <div class="app-results-table">
    {% if apps.length %}
      {{ govukTable({
        head: [
          { text: "Date", attributes: { "aria-sort": "ascending" } },
          { text: "Application type" },
          { text: "From" },
          { text: "Department" },
          { text: "" }
        ],
        rows: apps,
        attributes: { "data-qa": "app-results-table", "data-module": "moj-sortable-table" }
      }) }}
    {% else %}
      <p class="govuk-body">No applications found</p>
    {% endif %}
  </div>

  {{ paginationMacro(pagination, query) }}
</div>
