{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs -%}
{%- from "govuk/components/summary-list/macro.njk" import govukSummaryList -%}
{% from "pages/applications/view/partials/app-type-summary-list-header.njk" import appTypeSummaryListHeader %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block beforeContent %}
  <div class="govuk-body govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Digital Prisons Services",
          href: dpsUrl
        },
        {
          text: "Applications",
          href: "/"
        },
        {
          text: "View all applications",
          href: "/applications"
        }
      ]
    }) }}
  </div>
{% endblock %}

{% block content %}
<div class="govuk-body govuk-width-container">
  <h1 class="govuk-heading-xl govuk-!-margin-top-0">{{ title }}</h1>

  {% set activeTab = 'application' %}
  {% include "../partials/sub-navigation.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Application details</h2>
      {{ govukSummaryList({
        rows: [
          { key: { text: "Status" }, value: { text: application.status } },
          { 
            key: { text: "Department" }, 
            value: { text: application.assignedGroup.name }, 
            actions: { items: [] if isClosed else [{ 
              href: "/applications/" + application.requestedBy.username + "/" + application.id + "/forward", 
              text: "Forward", 
              visuallyHiddenText: "department" 
            }] } 
          },
          { key: { text: "Application type" }, value: { text: title } },
          { key: { text: "Date sent" }, value: { text: application.requestedDate } }
        ]
      }) }}

      <h2 class="govuk-heading-m">Prisoner details</h2>
      {{ govukSummaryList({
        rows: [
          { 
            key: { text: "Prisoner" }, 
            value: { text: application.requestedByLastName + ", " + application.requestedByFirstName + " (" + application.requestedBy.username + ")" }, 
            actions: { items: [{ 
              href:  dpsPrisonerUrl + "prisoner/" + application.requestedBy.username, 
              text: "View profile", 
              visuallyHiddenText: "prisoner", 
              attributes: {
                target: "_blank",
                rel: "noopener noreferrer"
              }
            }] } 
          },
          { key: { text: "Cell Location" }, value: { text: application.requestedBy.cellLocation } },
          { 
            key: { text: "Alerts" }, 
            value: { text: application.requestedBy.alerts or 0 }, 
            actions: { items: [{ 
              href: dpsPrisonerUrl + "prisoner/" + application.requestedBy.username + "/alerts/active", 
              text: "View alerts", 
              visuallyHiddenText: "alerts",
              attributes: {
                target: "_blank",
                rel: "noopener noreferrer"
              }
            }] } 
          },
          { key: { text: "IEP" }, value: { text: application.requestedBy.iep } }
        ]
      }) }}

      {% include "./partials/" + applicationType.value + ".njk" %}

    </div>
  </div>
</div>
{% endblock %}
