{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container govuk!">

    <span class="govuk-caption-xl">Business Hub applications</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-0">{{ title }}</h1>

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Application',
        href: "/applications/" + departmentName + "/" + application.requestedBy.username + "/" + application.id
      }, {
        text: 'Comments',
        href: "/applications/" + departmentName + "/" + application.requestedBy.username + "/" + application.id + "/comments"
      }, {
        text: 'Action and reply',
        href: "/applications/" + departmentName + "/" + application.requestedBy.username + "/" + application.id + "/reply"
      }, {
        text: 'History',
        href: "/applications/" + departmentName + "/" + application.requestedBy.username + "/" + application.id + "/history",
        active: true
      }]
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">History of this application</h2>

           <div class="app-message govuk-body">
              <div class="app-messages-metadata">
                J. Smith | 14 March 2025 at 09:18
               </div>
              
               <div class="app-messages-content">
                Logged with Business Hub.
               </div> 
           </div>

           <div class="app-message govuk-body">
              <div class="app-messages-metadata">
               S. Caroll | 15 March 2025 at 10:18
              </div>
              
              <div class="app-messages-content">
               Forwarded to OMU.
              </div>
           </div>   

           <div class="app-message govuk-body">
              <div class="app-messages-metadata">
                S. Caroll | 16 March 2025 at 11:18
              </div>

              <div class="app-messages-content">
                Marked as Approved.
              </div>
           </div>
         
        </div>
      </div>

    </div>  

{% endblock %}

