{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}
{% set activeTab = 'history' %}

{% block beforeContent %}
  {% include "../partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-4">{{ title }}</h1>

    {% include "../partials/application-header.njk" %}
    {% include "../partials/sub-navigation.njk" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">History of this application</h2>

        {% set timelineItems = [] %}
        {% for item in history %}
          {% set description = item.activityMessage.body or item.commentMessage or item.responseMessage or '' %}
          {% set timelineItems = timelineItems.concat([{
            label: { text: item.activityMessage.header },
            byline: { text: item.activityMessage.createdBy },
            datetime: { timestamp: item.createdDate, type: "datetime"},
            text: description
          }]) %}
        {% endfor %}

        {{ mojTimeline({
          headingLevel: 3,
          items: timelineItems
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
