{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs -%}
{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block beforeContent %}
  <div class="govuk-body govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Digital Prisons Services",
          href: dpsUrl
        },
        {
          text: "Applications",
          href: "/"
        },
        {
          text: "View all applications",
          href: "/applications"
        }
      ]
    }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-body govuk-width-container govuk!">
    <span class="govuk-caption-xl">{{ title }}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-0">History</h1>

    {% set activeTab = 'history' %}
    {% include "../partials/sub-navigation.njk" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">History of this application</h2>

        {% for item in history %}
          <div class="app-message govuk-body">
            <div class="app-message--metadata">
              {{ item.activityMessage.header }} | {{ item.date }} at {{ item.time }}
            </div>

            {% if item.activityMessage.body %}
              <div class="app-message--content">{{ item.activityMessage.body }}</div>
            {% endif %}

            {% if item.commentMessage %}
              <div class="app-message--content">{{ item.commentMessage }}</div>
            {% endif %}

            {% if item.responseMessage %}
              <div class="app-message--content">{{ item.responseMessage }}</div>
            {% endif %}
          </div>
        {% endfor %}
        
      </div>
    </div>
  </div>  
{% endblock %}

