{{ appTypeSummaryListHeader("Emergency credit to add", application.requestedBy.username, application.id, isUpdate) }}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: { text: "Amount" },
      value: { text: "£" + applicationData.request.amount }
    },
    {
      key: { text: "Reason" },
      value: { text: applicationData.request.reason }
    }
  ]
}) }}
