{% macro appTypeSummaryListHeader(title, username, appId, isUpdate) %}
  <div class="govuk-summary-list--header">
    <h2 class="govuk-heading-m">{{ title }}</h2>
    {% if isUpdate %}
      <a href="/applications/{{ username }}/{{ appId }}/change"  class="govuk-body">
        Change <span class="govuk-visually-hidden">log details</span>
      </a>
    {% endif %}  
  </div>
{% endmacro %}
