{% macro appTypeSummaryListHeader(title, username, appId, isUpdate) %}
  {% if isUpdate %}
    {% set changeUrl = "/applications/" + username + "/" + appId + "/change" %}
  {% else %}
    {% set changeUrl = "/log/application-details" %}
  {% endif %}

  <div class="govuk-summary-list--header">
    <h2 class="govuk-heading-m">{{ title }}</h2>
    <a href="{{ changeUrl }}" class="govuk-body">
      Change <span class="govuk-visually-hidden">log details</span>
    </a>
  </div>
{% endmacro %}
