{% macro appTypeSummaryListHeader(title, isUpdate) %}
  <div class="govuk-summary-list--header">
    <h2 class="govuk-heading-m">{{ title }}</h2>
    {% if not isUpdate %}
      <a href="/log/application-details" class="govuk-body">
        Change <span class="govuk-visually-hidden">log details</span>
      </a>
    {% endif %}  
  </div>
{% endmacro %}
