{% set rows = [] %}

{% set _ = rows.push({
  key: { text: "Prisoner" },
  value: { text: applicationData.prisoner }
}) %}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: rows
}) }}
