{{ appTypeSummaryListHeader("VOs to swap") }}

{{ govukSummaryList({
  classes: "govuk-!-margin-bottom-9",
  rows: [
    {
      key: { text: "Details" },
      value: { text: applicationData.request.details }
    }
  ]
}) }}
