{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/tag/macro.njk" import govukTag %}

{% if application and application.requestedBy and application.id %}
  {{ govukTag(application.status | statusTag) }}

  {% if not isClosed %}
    {% call govukInsetText() %}
      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-2">Action this application</p>
      {% if application.status == "NEW" %}
        <form method="POST" action="/applications/{{ application.requestedBy.username }}/{{ application.id }}/mark-in-progress" class="govuk-!-display-inline-block govuk-!-margin-right-2">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          {{ govukButton({
              text: "Mark as in progress",
              classes: "govuk-button--secondary govuk-!-margin-bottom-0"
            }) }}
        </form>
      {% endif %}

      {% if isForwardable %}
        {{ govukButton({
            text: "Forward to another department",
            href: "/applications/" + application.requestedBy.username + "/" + application.id + "/forward",
            classes: "govuk-button--secondary govuk-!-margin-right-2 govuk-!-margin-bottom-0"
          }) }}
      {% endif %}

      {{ govukButton({
          text: "Mark as closed",
          href: "/applications/" + application.requestedBy.username + "/" + application.id + "/reply",
          classes: "govuk-button--secondary govuk-!-margin-bottom-0"
        })
      }}
    {% endcall %}
  {% endif %}
{% endif %}
