{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

<div class="govuk-body govuk-width-container govuk-!-display-none-print">
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Digital Prisons Services",
        href: dpsUrl
      },
      {
        text: "Applications",
        href: "/"
      },
      {
        text: "View all applications",
        href: "/applications"
      }
    ]
  }) }}
</div>
