{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

<div class="govuk-!-display-none-print govuk-!-margin-top-4">
  {% set items = [{
    text: 'Application',
    href: "/applications/" + application.requestedBy.username + "/" + application.id,
    active: activeTab == 'application'
  }] %}

  {% set items = items.concat([{
    text: 'Comments',
    href: "/applications/" + application.requestedBy.username + "/" + application.id + "/comments",
    active: activeTab == 'comments'
  }]) %}

  {% set items = items.concat([{
    text: 'Prisoner messages',
    href: "/applications/" + application.requestedBy.username + "/" + application.id + "/messages",
    active: activeTab == 'messages'
  }]) %}

  {% set items = items.concat([{
    text: 'History',
    href: "/applications/" + application.requestedBy.username + "/" + application.id + "/history",
    active: activeTab == 'history'
  }]) %}

  {% set items = items.concat([{
    text: 'Print reply',
    href: "/applications/" + application.requestedBy.username + "/" + application.id + "/print-reply",
    active: activeTab == 'printReply'
  }]) %}

  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: items
  }) }}
</div>
