{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}

<div class="govuk-!-display-none-print govuk-!-margin-top-4">
  {% set items = [{
    text: 'Application',
    href: "/applications/" + application.requestedBy.username + "/" + application.id,
    active: activeTab == 'application'
  }] %}

  {% set items = items.concat([{
    text: 'Messages',
    href: "/applications/" + application.requestedBy.username + "/" + application.id + "/comments",
    active: activeTab == 'comments'
  }]) %}

  {% set items = items.concat([{
    text: 'History',
    href: "/applications/" + application.requestedBy.username + "/" + application.id + "/history",
    active: activeTab == 'history'
  }]) %}

  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: items
  }) }}
</div>
