{%- from "moj/components/sub-navigation/macro.njk" import mojSubNavigation -%}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Applications - " + departmentName %}
{% set mainClasses = "app-container govuk-body applications-list-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container govuk-!-padding-top-5 govuk-!-padding-bottom-5">
    <span class="govuk-caption-xl">Applications</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-0">{{ departmentName }}</h1>

    {{ mojSubNavigation({
      label: 'Sub navigation',
      items: [{
        text: 'Pending',
        href: "/applications/" + departmentName + "/pending",
        active: status == 'PENDING'
      }, {
        text: 'Closed',
        href: "/applications/" + departmentName + "/closed",
        active: status == 'CLOSED'
      }]
    }) }}
  </div>
{% endblock %}
