$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import '../node_modules/accessible-autocomplete/dist/accessible-autocomplete.min';

@import 'govuk-frontend/dist/govuk/index';
@import '@ministryofjustice/frontend/moj/all';
@import '@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import '@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';
@import '@ministryofjustice/hmpps-connect-dps-shared-items/dist/assets/dps/components/address-autosuggest/address-autosuggest';
@import '@ministryofjustice/hmpps-connect-dps-shared-items/dist/assets/dps/components/webcam-capture/webcam-capture';

@import './components/header-bar';
@import './views/applications';

.hmpps-display-none {
  display: none !important;
}
