{%- from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{%- from "govuk/components/pagination/macro.njk" import govukPagination -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}

{%- from "moj/components/filter/macro.njk" import mojFilter -%}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = "Applications" %}
{% set mainClasses = "app-container govuk-body applications-list-page" %}

{% block beforeContent %}
  <div class="govuk-body govuk-width-container">
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Digital Prisons Services",
          href: dpsUrl
        },
        {
          text: "Applications",
          href: "/"
        }
      ]
    }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-body govuk-width-container govuk-!-padding-top-5 govuk-!-padding-bottom-5">

    {% if error %}
      {% set errorList = [] %}
      
      {% if error.message %}
        {% set errorList = errorList.concat([{ text: error.message, href: "#prisoner" }]) %}
      {% endif %}

      {{ govukErrorSummary({
        titleText: error.summaryTitle,
        errorList: errorList
      }) }}
    {% endif %}

    <span class="govuk-caption-xl">Applications</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-0">View all applications in your prison</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        {% include './partials/filter.njk' %}
      </div>

      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-tabs">
          <ul class="govuk-tabs__list">
            <li class="govuk-tabs__list-item {{ 'govuk-tabs__list-item--selected' if status == 'PENDING' else '' }}">
              <a href="/applications?status=pending" class="govuk-tabs__tab">Pending</a>
            </li>
            <li class="govuk-tabs__list-item {{ 'govuk-tabs__list-item--selected' if status == 'CLOSED' else '' }}">
              <a href="/applications?status=closed" class="govuk-tabs__tab">Closed</a>
            </li>
          </ul>

          {% if status == "PENDING" %}
            {% include './partials/pending.njk' %}
          {% endif %}
          
          {% if status == "CLOSED" %}
            {% include './partials/closed.njk' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
