{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "/"
    }) }}
  </div>
{% endblock %}
