{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "/log/prisoner-details"
    }) }}

    <span class="govuk-caption-xl">{{ appTypeTitle }}</span>
    <h1 class="govuk-heading-xl govuk-!-margin-top-0">Log details</h1>

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <form method="POST" id="log-swap-vos-pin-credit-details">
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            {{ govukCharacterCount({
              name: "swapVosPinCreditDetails",
              id: "swap-vos-pin-credit-details",
              maxlength: 1000,
              threshold: 75,
              value: textareaValue,
              label: {
                text: "Details (optional)",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              hint: {
                text: "Add a brief summary, for example, if this person is a Foreign National"
              }
            }) }}

            {{ govukButton({
              text: "Continue",
              classes: "govuk-button--primary"
            }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
