{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/character-count/macro.njk" import govukCharacterCount -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/textarea/macro.njk" import govukTextarea -%}
{%- from "components/appMessages/macro.njk" import appMessages -%}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}
{% set activeTab = 'messages' %}

{% block beforeContent %}
  {% include "../partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-body govuk-width-container">

    {% if errors %}
      {% set textFieldError = errors.Messages if errors.Messages else undefined %}
      {% set messageFieldError = undefined %}

      {% if textFieldError %}
        {% set messageFieldError = { text: textFieldError.text } %}
      {% endif %}

      {% set errorList = [] %}

      {% if textFieldError %}
        {% set errorList = errorList.concat([{ text: textFieldError.text, href: "#comment" }]) %}
      {% endif %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-4">{{ applicationType.name }}</h1>

    {% include "../partials/application-header.njk" %}

    {% include "../partials/sub-navigation.njk" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukWarningText({
          text: "These messages are sent to the prisoner",
          iconFallbackText: "Warning"
        }) }}

        <h2 class="govuk-heading-m">Messages and replies</h2>

        <div class="govuk-!-margin-bottom-4">
          {{ appMessages({ items: comments }) }}
        </div>

        {% if not isClosed %}
          <form method="POST" id="application-comments-form" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

            {{ govukCharacterCount({
              name: "comment",
              id: "comment",
              maxlength: 1000,
              threshold: 75,
              value: comment,
              label: {
                text: "Send message",
                classes: "govuk-label--s govuk-!-margin-bottom-4",
                isPageHeading: true
              },
              errorMessage: messageFieldError
            }) }}

            {{ govukButton({
              text: "Send",
              type: "submit",
              attributes: { id: "send-message-button" },
              classes: "govuk-button--primary"
            }) }}
          </form>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
