{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "/log/prisoner-details"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {% if errors %}
          {% set errorList = [] %}

          {% if errors.Details %}
            {% set errorList = errorList.concat([{ text: errors.Details.text, href: "#swapVosPinCreditDetails" }]) %}
          {% endif %}

          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
        {% endif %}

        <span class="govuk-caption-xl">{{ appType }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-top-0">Log details</h1>

        <form method="POST" id="log-swap-vos-pin-credit-details">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

            {{ govukCharacterCount({
              name: "swapVosPinCreditDetails",
              id: "swap-vos-pin-credit-details",
              maxlength: 1000,
              threshold: 75,
              value: textareaValue,
              label: {
                text: "Details (optional)",
                classes: "govuk-label--s",
                isPageHeading: true
              },
              errorMessage: errors.Details,
              hint: {
                text: "Add a brief summary, for example, if this person is a Foreign National"
              }
            }) }}

            {{ govukButton({
              text: "Continue",
              classes: "govuk-button--primary"
            }) }}
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
