{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}

        <span class="govuk-caption-xl">{{ title }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-top-0">Check details</h1>

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: { text: "Application Type" },
              value: { text: applicationData.type.name },
              actions: { items: [] if isUpdate else [{ href: "#", text: "Change", visuallyHiddenText: "application type" }] }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Application details</h2>

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: { text: "Prisoner" },
              value: { text: applicationData.prisoner },
              actions: { items: [] if isUpdate else [{ href: "#", text: "Change", visuallyHiddenText: "prisoner" }] }
            },
            {
              key: { text: "Submitted on" },
              value: { text: applicationData.date },
              actions: { items: [] if isUpdate else [{ href: "#", text: "Change", visuallyHiddenText: "submitted on" }] }
            }
          ]
        }) }}

        {% include "./partials/" + applicationData.type.value + ".njk" %}

        <form method="POST">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukButton({
            text: "Continue",
            classes: "govuk-button--primary"
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
