{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "pages/log-application/confirm/partials/app-type-summary-list-header.njk" import appTypeSummaryListHeader %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}

        <span class="govuk-caption-xl">{{ title }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-top-0">Check details</h1>

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: { text: "Application type" },
              value: { text: applicationData.type.name },
              actions: { items: [] if isUpdate else [{ href: "/log/application-type", text: "Change", visuallyHiddenText: "application type" }] }
            }
          ]
        }) }}

        <div class="govuk-summary-list--header">
          <h2 class="govuk-heading-m">Application details</h2>
          {% if not isUpdate %}
            <a href="/log/prisoner-details" class="govuk-body">Change <span class="govuk-visually-hidden">prisoner</span></a>
          {% endif %}  
        </div>
     
        {% include "./partials/application-details.njk" %}
        {% include "./partials/" + applicationData.type.value + ".njk" %}

        <form method="POST">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

          {{ govukButton({
            text: "Save",
            classes: "govuk-button--primary"
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
