{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukBackLink({
          text: "Back",
          href: backLink
        }) }}

        <span class="govuk-caption-xl">{{ appTypeTitle }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-top-0">Check details</h1>

        {% set actionItems = [] if isUpdate else [{ href: "#", text: "Change", visuallyHiddenText: "application type" }] %}

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Application Type"
              },
              value: {
                text: "Swap VOs for pin credit"
              },
              actions: { items: actionItems }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">Application details</h2>

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Prisoner"
              },
              value: {
                text: applicationData.prisonerName
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "prisoner"
                  }
                ]
              }
            },
            {
              key: {
                text: "Submitted on"
              },
              value: {
                text: applicationData.date
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "submitted on"
                  }
                ]
              }
            }
          ]
        }) }}

        <h2 class="govuk-heading-m">VOs to swap</h2>

        {{ govukSummaryList({
          classes: "govuk-!-margin-bottom-9",
          rows: [
            {
              key: {
                text: "Details"
              },
              value: {
                text: applicationData.additionalData.swapVOsToPinCreditDetails
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Change",
                    visuallyHiddenText: "details"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "govuk-button--primary"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
