{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "dps/components/webcam-capture/macro.njk" import hmppsWebcamCapture %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}
{% set photoInstructionsHtml %}
<div>
  <h2 class="govuk-heading-s govuk-!-margin-bottom-2">
    To take a photo of an application.
  </h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>Place the paper flat on a clear desk.</li>
    <li>Make sure the paper is straight and aligned underneath the webcam window.</li>
    <li>Select "Take photo".</li>
    <li>Select "Save and continue".</li>
    <li>On the next page, you can crop or rotate the image if needed.</li>
    <li>You can save up to two images per application.</li>
  </ul>
</div>
{% endset %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {{ govukBackLink({
          text: "Back",
          href: "/log/method"
        }) }}
        
        <span class="govuk-caption-xl">{{ applicationType }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-top-0">{{ title }}</h1>

        <form method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <input type="hidden" name="photoType" value="webcam" />
        
        {{ hmppsWebcamCapture({
          fileName: "application-photo",
          fileField: {
            name: "file"
          },
          cancelUrl: backLink,
          photoInstructions: {
            html: photoInstructionsHtml
          },
          reportErrors: true 
        }) }}
        </form>

      </div>
    </div>
  </div>
{% endblock %}

