{%- from "govuk/components/button/macro.njk" import govukButton -%}
{%- from "govuk/components/character-count/macro.njk" import govukCharacterCount -%}
{%- from "govuk/components/error-summary/macro.njk" import govukErrorSummary -%}
{%- from "govuk/components/table/macro.njk" import govukTable -%}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}
{% set activeTab = 'comments' %}

{% block beforeContent %}
  {% include "../partials/breadcrumbs.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-body govuk-width-container">

    {% if errors %}
      {% set textFieldError = errors.Comments if errors.Comments else undefined %}
      {% set messageFieldError = undefined %}

      {% if textFieldError %}
        {% set messageFieldError = { text: textFieldError.text } %}
      {% endif %}

      {% set errorList = [] %}

      {% if textFieldError %}
        {% set errorList = errorList.concat([{ text: textFieldError.text, href: "#comment" }]) %}
      {% endif %}

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-top-0 govuk-!-margin-bottom-4">{{ applicationType.name }}</h1>

    {% include "../partials/application-header.njk" %}

    {% include "../partials/sub-navigation.njk" %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if comments and comments.length > 0 %}
          {% set commentRows = [] %}

          {% for item in comments %}
            {% set commentRows = commentRows.concat([[
              { text: item.message },
              { text: item.createdByName },
              { text: item.date }
            ]]) %}
          {% endfor %}

          {{ govukTable({
            head: [
              { text: "Comments" },
              { text: "From" },
              { text: "Date" }
            ],
            rows: commentRows
          }) }}
        {% else %}
          <p class="govuk-body">There are no comments yet.</p>
        {% endif %}

        {% if not isClosed %}
          <form method="POST" id="application-comments-form" novalidate>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

            {{ govukCharacterCount({
              name: "comment",
              id: "comment",
              maxlength: 1000,
              threshold: 75,
              value: comment,
              label: {
                text: "Send comment",
                classes: "govuk-label--m",
                isPageHeading: true
              },
              errorMessage: messageFieldError
            }) }}

            {{ govukButton({
              text: "Send",
              type: "submit",
              attributes: { id: "send-comment-button" },
              classes: "govuk-button--primary"
            }) }}
          </form>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}
