.applications-landing-page {
  &__banner {
    margin-top: govuk-spacing(-7);
    background: #263135;
    color: govuk-colour('white');

    h1,
    p,
    a {
      color: inherit;
    }
  }
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: govuk-spacing(3);
  padding: 0;

  &__item {
    display: flex;
    list-style-type: none;
    margin-bottom: govuk-spacing(0);
  }

  .card {
    margin-bottom: govuk-spacing(5);
    background: govuk-colour('white');
    border: 1px solid #d8dde1;
    position: relative;
    width: 100%;
    padding: govuk-spacing(5);

    &--clickable {
      border-bottom-width: govuk-spacing(1);
    }
  }
}

.app-message {
  padding: govuk-spacing(3) 0;
  border-top: 1px solid $govuk-border-colour;
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: -1px;

  &:last-of-type {
    border-bottom: 1px solid $govuk-border-colour;
  }

  &--metadata {
    color: govuk-colour('dark-grey');
  }
}

.govuk {
  &-summary-list--header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $govuk-border-colour;
  }

  &-table__subtext {
    display: block;
    margin-bottom: 0;
    color: $govuk-secondary-text-colour;
  }

  &-breadcrumbs,
  &-back-link {
    display: block;
    margin-top: govuk-spacing(-4);
  }

  &-\!-text-nowrap {
    white-space: nowrap;
  }
}

.stacktrace {
  overflow: auto;
}

@media print {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .govuk-summary-list__key,
  .govuk-summary-list__value {
    font-size: 16px !important;
  }
  .govuk-width-container {
    max-width: none !important;
    width: auto !important;
    padding: 0 !important;
  }
  .govuk-grid-row,
  .govuk-grid-column-one-half,
  .govuk-grid-column-two-thirds {
    display: block !important;
    width: 100% !important;
  }
  .govuk-\!-display-none {
    display: none !important;
  }
  .govuk-\!-display-block-print {
    display: block !important;
  }
}

.app-results-table {
  padding: govuk-spacing(6) govuk-spacing(4) govuk-spacing(0);
  border: 1px solid $govuk-border-colour;
}

.app-type-filter {
  &-scroll-box {
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    padding-bottom: govuk-spacing(1);
  }

  &-checkbox-wrapper {
    margin-top: -20px;
  }
}

.filter-section {
  border-bottom: 1px solid $govuk-border-colour;
  padding-bottom: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
}
