.applications-landing-page {
  &__banner {
    margin-top: -40px;
    background: rgb(38, 49, 53);
    color: govuk-colour('white');

    h1,
    p,
    a {
      color: govuk-colour('white');
    }
  }

  &__list-menu {
    display: flex;
    flex-wrap: wrap;

    &-item {
      flex-basis: calc(50% - 10px);
      box-sizing: border-box;
      border-top: 1px solid #b1b4b6;

      &:nth-child(odd) {
        margin-right: 10px;
      }

      &:nth-child(even) {
        margin-left: 10px;
      }

      a {
        color: $govuk-link-colour;
      }

      &-notification {
        font-weight: normal;
        border-radius: 20px;
        margin-right: 5px;
        font-size: 1rem;
        color: #942514;
      }
    }
  }
}
