{% macro appMessages(params) %}

  {% if params.items and params.items.length > 0 %}
    <div class="moj-messages-container">
      <div class="moj-message-list">
        {% set previousDate = "" %}

        {% for item in params.items %}
          {% set currentDate = item.timestamp | mojDate("date") %}
          {% set bubbleTone = "prisoner" if item.createdByType == "PRISONER" else ("staff-only" if item.visibility == "STAFF_ONLY" else "prisoner-and-staff") %}
          {% set messageType = "received" if bubbleTone == "prisoner" else "sent" %}

          {% if previousDate != currentDate %}
            <time class="moj-message-list__date" datetime="{{ currentDate }}">{{ currentDate }}</time>
          {% endif %}

          <div class="moj-message-item moj-message-item--{{ messageType }}{% if bubbleTone == 'staff-only' %} app-message-item--staff-only{% endif %}{% if bubbleTone == 'prisoner-and-staff' %} app-message-item--prisoner-and-staff{% endif %}">
            <div class="moj-message-item__text moj-message-item__text--{{ messageType }}">
              {{ item.message }}
            </div>

            <div class="moj-message-item__meta">
              <span class="moj-message-item__meta--sender">{{ item.createdByName }}</span>
              at
              <time class="moj-message-item__meta--timestamp" datetime="{{ item.timestamp | mojDate('time') }}">
                {{ item.timestamp | mojDate("time") }}
              </time>
            </div>
          </div>

          {% set previousDate = currentDate %}
        {% endfor %}
      </div>
    </div>
  {% else %}
    <div>
      <div class="app-message--content">{{ params.emptyText if params.emptyText else "No messages yet" }}</div>
    </div>
  {% endif %}
{% endmacro %}
