{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/tag/macro.njk" import govukTag -%}

{% extends "../partials/layout.njk" %}


{% set pageTitle = applicationName + " - Applications" %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block beforeContent %}
  <div class="govuk-body applications-landing-page__banner govuk-!-margin-bottom-0 govuk-!-padding-top-5 govuk-!-padding-bottom-5">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Applications</h1>
          <p class="govuk-body-l">Log, action and reply to prisoner applications. You can also forward applications to other departments.</p>
          <p class="govuk-body">Give us your <a href="https://www.smartsurvey.co.uk/s/EC7Z5H/" target="_blank">feedback</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-body govuk-width-container govuk-!-padding-top-5 govuk-!-padding-bottom-5">
    <div class="govuk-grid-row">
      <ul class="card-group">
        <li class="govuk-grid-column-one-third card-group__item">
          <div class="card card--clickable" data-testid="log-new-application">
            <h2 class="govuk-heading-m card__heading">
              <a class="govuk-link card__link" href="/log/prisoner-details">Log a new application</a>
            </h2>
            <p class="govuk-body card__description">Log a new application to process.</p>
          </div>
        </li>
        
        <li class="govuk-grid-column-one-third card-group__item">
          <div class="card card--clickable" data-testid="view-all-applications">
            <h2 class="govuk-heading-m card__heading">
              <a class="govuk-link card__link" href="/applications">View all applications</a>
            </h2>
            <p class="govuk-body card__description">View all applications logged in your prison.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
