{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <div class="govuk-body govuk-width-container govuk-!-padding-top-5 govuk-!-padding-bottom-5">
    <p class="govuk-heading-l">
      {{ message }}
    </p>

    {{ govukButton({
      text: "Go back to home page",
      href: "/"
    }) }}

    {% if stack %}
      <p>{{ status }}</p>
      <pre class="stacktrace">{{ stack }}</pre>
    {% endif %}
  </div>

{% endblock %}
