{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{% from "./partials/errors.njk" import renderErrorSummary %}

{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body applications-landing-page" %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    {{ govukBackLink({
      text: "Back",
      href: "/log/application-type"
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        {{ renderErrorSummary(errors) }}

        <span class="govuk-caption-xl">{{ applicationType.name }}</span>
        <h1 class="govuk-heading-xl govuk-!-margin-top-0">Log prisoner details</h1>

        <form method="POST" id="log-prisoner-details">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
          <input type="hidden" name="prisonerLookupButton" id="prisoner-lookup-button" value="{{ prisonerLookupButton | default('false') }}" />
          
          <div class="govuk-form-group {% if errors.prisonNumber %} govuk-form-group--error {% endif %}">
            <label class="govuk-label govuk-label--s" for="prisonNumber">
              Prison number
            </label>

            {% if errors.prisonNumber %}
              <p class="govuk-error-message" id="prison-mumber-error">
                <span class="govuk-visually-hidden">Error:</span> {{ errors.prisonNumber.text }}
              </p>
            {% endif %}

            {% if errors.prisonerLookupButton %}
              <p class="govuk-error-message" id="prisoner-lookup-button-error">
                <span class="govuk-visually-hidden">Error:</span> {{ errors.prisonerLookupButton.text }}
              </p>
            {% endif %}

            <input class="govuk-input govuk-input--width-10 {% if errors.prisonNumber %} govuk-input--error {% endif %}"
              id="prison-number" 
              name="prisonNumber" 
              type="text" 
              aria-describedby="prison-number-error" 
              value="{{ prisonNumber | default('') }}">

            <button id="prisoner-number-lookup" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" data-test="find-prisoner-button">
              Find prisoner
            </button>
          </div>

          {{ govukInsetText({
            html: "",
            classes: "govuk-!-margin-top-0 govuk-!-display-none",
            attributes: {
              id: "prisoner-name-display",
              "aria-live": "assertive",
              role: "alert"
            }
          }) }}

          <input type="hidden" id="prisoner-name" name="prisonerName" value="{{ prisonerName | default('') }}">
          <input type="hidden" id="prisoner-alert-count" name="prisonerAlertCount" value="{{ prisonerAlertCount | default('') }}">
          <input type="hidden" id="dps-prisoner-url" value="{{ dpsPrisonerUrl }}">

          {{ mojDatePicker({
            id: "date",
            name: "date",
            label: {
              text: "Date",
              classes: "govuk-label--s"
            },
            errorMessage: { text: errors.dateString.text } if errors.dateString.text else undefined,
            value: dateString | default('')
          }) }}

          {% if applicationType.value === 'add-social-pin-phone-contact' %}
            {{ govukRadios({
              classes: "govuk-radios--inline",
              name: "earlyDaysCentre",
              fieldset: {
                legend: {
                  text: "Is this person in the first night or early days centre?",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ],
              value: earlyDaysCentre or '',
              errorMessage: { text: errors.earlyDaysCentre.text } if errors.earlyDaysCentre else undefined
            }) }}
          {% endif %}

          {{ govukButton({
            text: "Continue",
            classes: "govuk-button--primary",
            attributes: { "data-test": "continue-button" }
          }) }}
        </form>
      </div>
    </div>
  </div>
{% endblock %}
